---
name: ci
on:
  push:

jobs:
  test:
    name: lint and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: extractions/setup-just@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          activate-environment: true
      - uses: MunifTanjim/setup-neovim-action@v1
        with:
          tag: nightly
      - run: nvim --version
      - name: Install dependencies
        run: just install
      - name: Run linter
        run: just lint
      - name: Run type checker
        run: just type-check
      - name: Run tests
        run: just test
